

/* ==========================================================================
  custom styles
*/
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.block{
    padding: 20px 0px;   
}

.parallax-window {
    min-height: 600px;
    min-width: 100%;
    background: transparent;
}
.side{
	float: left;

}
.center-text{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
}


.center-text div{
	position: relative;
    text-align: center;
    color: black;
    background-color: purple;
	opacity: .8;
    font-size: 4em;
}






