

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.block{
    padding: 20px 0px;   
}





.parallax-window {
    min-height: 400px;
    background: transparent;
}










